In [50]:
import pandas as pd

# Step 1: Load the dataset
df = pd.read_csv("/Users/rangasamyelancheziyan/Desktop/CROMA/python/iphone.csv")

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Product_Name               62 non-null     object
 1   Product_URL                62 non-null     object
 2   Brand                      62 non-null     object
 3   Sale_Price                 62 non-null     int64
 4   Mrp                        62 non-null     int64
 5   Number_Of_Ratings          62 non-null     int64
 6   Number_Of_Reviews          62 non-null     int64
 7   Upc                        62 non-null     object
 8   Star_Rating                59 non-null     float64
 9   Ram                        62 non-null     object
 10  Star_Rating_filled_by_ram  62 non-null     float64
 11  Discount_Percentage        62 non-null     float64
 12  Storage                    62 non-null     object
 13  Color                      62 non-null     object
 14  Version                    62 non-null     object
 15  Version_Number             42 non-null     object
 16  Rating_to_Review_Ratio     62 non-null     float64
dtypes: float64(4), int64(4), object(9)
memory usage: 8.4+ KB

In [83]:
df.columns

Index(['Product_Name', 'Product_URL', 'Brand', 'Sale_Price', 'Mrp',
       'Number_Of_Ratings', 'Number_Of_Reviews', 'Upc', 'Star_Rating', 'Ram',
       'Star_Rating_filled_by_ram', 'Discount_Percentage', 'Storage', 'Color',
       'Version', 'Version_Number', 'Rating_to_Review_Ratio'],
      dtype='object')

In [84]:
#1 - The column names have spaces . rename the column names to have underscore '_' instead of space (try to do in one go instead of specifying each column nam in rename method)
df.columns = [col.replace(" ", "_") for col in df.columns]
df.head()

,Product_Name,Product_URL,Brand,Sale_Price,Mrp,Number_Of_Ratings,Number_Of_Reviews,Upc,Star_Rating,Ram,Star_Rating_filled_by_ram,Discount_Percentage,Storage,Color,Version,Version_Number,Rating_to_Review_Ratio
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,3431,356,MOBEXRGV7EHHTGUH,4.6,2 GB,4.600000,0.0,64 GB,Gold,iPhone 8,NaN,0.012921
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVAC6TJT4F,4.6,2 GB,4.600000,0.0,256 GB,Space Grey,iPhone 8,NaN,0.012921
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVGETABXWZ,4.6,2 GB,4.600000,0.0,256 GB,Silver,iPhone 8,NaN,0.012921
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,11202,794,MOBEXRGVMZWUHCBA,NaN,2 GB,4.541667,0.0,256 GB,Silver,iPhone 8,NaN,0.005720
4,"APPLE iPhone 8 (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-8-gold-2...,Apple,77000,77000,11202,794,MOBEXRGVPK7PFEJZ,4.5,2 GB,4.500000,0.0,256 GB,Gold,iPhone 8,NaN,0.005668

In [53]:
df.isnull().sum()

Product_Name         0
Product_URL          0
Brand                0
Sale_Price           0
Mrp                  0
Number_Of_Ratings    0
Number_Of_Reviews    0
Upc                  0
Star_Rating          3
Ram                  0
dtype: int64

In [85]:
#2- start rating for some of the models is missing in the dataset. fill those missing values with the average rating all the models.
df["Star_Rating_filled_overall"] = df["Star_Rating"].fillna(df["Star_Rating"].mean())

In [86]:
#3- Now instead of filling missing values with avg rating of full dataset , fill with avg rating based on RAM. example :  if rating for a 2 gb phone is missing then take average of all other 2 gb phones rating and fill that value. 

df["Star_Rating_filled_by_ram"] = df.groupby("Ram")["Star_Rating"].transform(lambda x: x.fillna(x.mean()))
df

,Product_Name,Product_URL,Brand,Sale_Price,Mrp,Number_Of_Ratings,Number_Of_Reviews,Upc,Star_Rating,Ram,Star_Rating_filled_by_ram,Discount_Percentage,Storage,Color,Version,Version_Number,Rating_to_Review_Ratio,Star_Rating_filled_overall
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,3431,356,MOBEXRGV7EHHTGUH,4.6,2 GB,4.600000,0.000000,64 GB,Gold,iPhone 8,NaN,0.012921,4.600000
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVAC6TJT4F,4.6,2 GB,4.600000,0.000000,256 GB,Space Grey,iPhone 8,NaN,0.012921,4.600000
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVGETABXWZ,4.6,2 GB,4.600000,0.000000,256 GB,Silver,iPhone 8,NaN,0.012921,4.600000
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,11202,794,MOBEXRGVMZWUHCBA,NaN,2 GB,4.541667,0.000000,256 GB,Silver,iPhone 8,NaN,0.005720,4.576271
4,"APPLE iPhone 8 (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-8-gold-2...,Apple,77000,77000,11202,794,MOBEXRGVPK7PFEJZ,4.5,2 GB,4.500000,0.000000,256 GB,Gold,iPhone 8,NaN,0.005668,4.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,"APPLE iPhone SE (Black, 64 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,29999,39900,95909,8161,MOBFWQ6BR3MK7AUG,4.5,4 GB,4.500000,24.814536,64 GB,Black,iPhone SE,NaN,0.000551,4.500000
58,"APPLE iPhone 11 (Purple, 64 GB)",https://www.flipkart.com/apple-iphone-11-purpl...,Apple,46999,54900,43470,3331,MOBFWQ6BTFFJKGKE,4.6,4 GB,4.600000,14.391621,64 GB,Purple,iPhone 11,11,0.001381,4.600000
59,"APPLE iPhone 11 (White, 64 GB)",https://www.flipkart.com/apple-iphone-11-white...,Apple,46999,54900,43470,3331,MOBFWQ6BVWVEH3XE,4.6,4 GB,4.600000,14.391621,64 GB,White,iPhone 11,11,0.001381,4.600000
60,"APPLE iPhone 11 (Black, 64 GB)",https://www.flipkart.com/apple-iphone-11-black...,Apple,46999,54900,43470,3331,MOBFWQ6BXGJCEYNY,4.6,4 GB,4.600000,14.391621,64 GB,Black,iPhone 11,11,0.001381,4.600000
61,"APPLE iPhone 11 (Red, 64 GB)",https://www.flipkart.com/apple-iphone-11-red-6...,Apple,46999,54900,43470,3331,MOBFWQ6BYYV3FCU7,4.6,4 GB,4.600000,14.391621,64 GB,Red,iPhone 11,11,0.001381,4.600000

In [88]:
# create a new column in the dataframe "Discount_Percentage" based on MRP and sale value
df["Discount_Percentage"] = ((df["Mrp"] - df["Sale_Price"]) / df["Mrp"]) * 100
df.columns

Index(['Product_Name', 'Product_URL', 'Brand', 'Sale_Price', 'Mrp',
       'Number_Of_Ratings', 'Number_Of_Reviews', 'Upc', 'Star_Rating', 'Ram',
       'Star_Rating_filled_by_ram', 'Discount_Percentage', 'Storage', 'Color',
       'Version', 'Version_Number', 'Rating_to_Review_Ratio',
       'Star_Rating_filled_overall'],
      dtype='object')

In [89]:
#5- which model has highest percent discount ?
max_discount_model = df.loc[df["Discount_Percentage"].idxmax(), "Product_Name"]
print("maximum discount model:",max_discount_model)

maximum discount model: APPLE iPhone 11 Pro (Midnight Green, 64 GB)

In [90]:
#6- find total no of models  each space configuration (128 GB , 64 GB etc)
df["Storage"] = df["Product_Name"].str.extract(r'(\d+\s?GB)')
storage_counts = df["Storage"].value_counts()
print("total no of models for each storage:",storage_counts)

total no of models for each storage: Storage
128 GB    24
64 GB     20
256 GB    14
512 GB     4
Name: count, dtype: int64

In [91]:
#7- find total number of models for each color
df["Color"] = df["Product_Name"].str.extract(r'\(([^,]+)')
color_counts = df["Color"].value_counts()
print("Total no of models for each color:",color_counts)

Total no of models for each color: Color
Black             10
White             10
Silver             7
Gold               6
Space Grey         6
Red                5
Midnight Green     4
Pacific Blue       4
Graphite           4
Blue               2
RED                1
Coral              1
Green              1
Purple             1
Name: count, dtype: int64

In [67]:
#8- find total number of models by iphone version : 

df["Version"] = df["Product_Name"].str.extract(r'(iPhone\s[\w]+)')
version_counts = df["Version"].value_counts()
print("Total number of models by iphone version:",version_counts)

Total number of models by iphone version: Version
iPhone 12    26
iPhone 11    16
iPhone 8      8
iPhone SE     6
iPhone XR     5
iPhone XS     1
Name: count, dtype: int64

In [68]:
#9- list top 5 models having highest no of reviews 
top_5_reviews = df.sort_values(by="Number_Of_Reviews", ascending=False).head(5)[["Product_Name", "Number_Of_Reviews"]]
print("Top 5 models with highest no of reviews:",top_5_reviews)

Top 5 models with highest no of reviews:                        Product_Name  Number_Of_Reviews
23  Apple iPhone SE (White, 256 GB)               8161
53  APPLE iPhone SE (Black, 128 GB)               8161
55    APPLE iPhone SE (Red, 128 GB)               8161
57   APPLE iPhone SE (Black, 64 GB)               8161
52   APPLE iPhone SE (White, 64 GB)               8154

In [93]:
#10 - what is the price diffrence between highest price and lowest price iphone (based on mrp)
price_difference = df["Mrp"].max() - df["Mrp"].min()
print("Price difference between highest and lowest MRP:",price_difference)

Price difference between highest and lowest MRP: 110000

In [94]:
#11 - find total no of reviews for iphone 11 and iphone 12 category . Output should have only 2 rows (for 11 and 12)
df["Version_Number"] = df["Product_Name"].str.extract(r'iPhone\s(\d{2})')
iphone_11_12_reviews = df[df["Version_Number"].isin(["11", "12"])].groupby("Version_Number")["Number_Of_Reviews"].sum()

print("Total reviews for iPhone 11 and 12:", iphone_11_12_reviews)

Total reviews for iPhone 11 and 12: Version_Number
11    25965
12     2208
Name: Number_Of_Reviews, dtype: int64

In [77]:
#12- which iphone has 3rd highest MRP
third_highest_mrp_model = df.sort_values(by="Mrp", ascending=False).iloc[2]["Product_Name"]
print("Third highest iphone MRP:",third_highest_mrp_model)

Third highest iphone MRP: APPLE iPhone 11 Pro (Midnight Green, 512 GB)

In [78]:
#13- what is the average mrp of iphones which costs above 100,000
avg_mrp_above_100k = df[df["Mrp"] > 100000]["Mrp"].mean()
print("Average MRP of phone price above 100000:",avg_mrp_above_100k)

Average MRP of phone price above 100000: 130559.09090909091

In [81]:
#14- which iphone with 128 GB space has highest ratings to review ratio
df["Rating_to_Review_Ratio"] = df["Star_Rating_filled_by_ram"] / df["Number_Of_Reviews"]
highest_ratio_model = df[df["Storage"] == "128 GB"].sort_values(by="Rating_to_Review_Ratio", ascending=False).iloc[0]["Product_Name"]
print("128 GB iPhone with highest rating to review ratio:", highest_ratio_model)

128 GB iPhone with highest rating to review ratio: APPLE iPhone 12 Pro (Pacific Blue, 128 GB)